version: "3"

volumes:
  satu-password-postgresdb-data:
  satu-password-jenkins-data:

networks:
  satu-password-network:

services:
  postgresdb:
    container_name: postgresdb
    image: postgres:latest
    volumes:
      - satu-password-postgresdb-data:/var/lib/postgresql/data
    env_file:
      - ./secrets/postgresdb/.env
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 5432:5432
    networks:
      - satu-password-network

  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - 443:443
    networks:
      - satu-password-network
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/ssl-params.conf:/etc/nginx/snippets/ssl-params.conf

      - ./secrets/nginx/fullchain.pem:/etc/nginx/certs/fullchain.pem
      - ./secrets/nginx/privkey.pem:/etc/nginx/certs/privkey.pem

      - ./secrets/nginx/dhparam.pem:/etc/ssl/certs/dhparam.pem

  jenkins:
    container_name: jenkins
    image: jenkins/jenkins:latest
    ports:
      - 8080:8080
      - 3000:3000
      - 50000:50000
    networks:
      - satu-password-network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - satu-password-jenkins-data:/var/jenkins_home
